body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(240, 240, 240);
}

.wrapper {
    padding: 3% 15% 3% 15%;
}

.wrapper-description {
    background-color: #ff9f1a;
    padding: 10px;
    margin-bottom: 25px;
    color: white;
}

.chat {
    background-color: white;
    padding: 10px;
}

.chat textarea {
    width: 100%;
    height: 100px;
    font-size: 30px;
    padding: 0;
    margin: 0;
    resize: none;
}

.chat button {
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.item {
    background-color: #ffca1a;
    margin-top: 10px;
    padding: 2px 0px;
}

.item img {
    width: 60px;
}
