body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    /* background-color: white; */
    font-size: 20px;
}

.wrapper {
    padding: 3% 15% 0 15%;
}

/* lab1 */

.lab1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lab1 .description {
    background-color: blueviolet;
    padding: 10px;
}

.lab1 .description p {
    color: white;
}

.lab1 .output {
    background-color: rgb(122, 41, 199);
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.lab1 .output .about {
    padding: 10px;
   
}

.lab1 .output .result {
    background-color: rgb(105, 36, 170);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* lab2 */

.lab2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lab2 .description {
    background-color: rgb(223, 226, 43);
    padding: 10px;
}

.lab2 .description p {
    color: white;
}

.lab2 .output {
    background-color: rgb(202, 199, 38);
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.lab2 .output .about {
    padding: 10px;
   
}

.lab2 .output .result {
    background-color: rgb(168, 177, 38);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}