body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    /* background-color: white; */
    font-size: 20px;
    cursor: pointer;
}

.wrapper {
    padding: 3% 15% 3% 15%;
}

/* lab1 */

.lab1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lab1 .description {
    background-color: blueviolet;
    padding: 10px;
}

.lab1 .description p {
    color: white;
}

.lab1 .output {
    background-color: rgb(122, 41, 199);
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.lab1 .output .about {
    padding: 10px;

}

.lab1 .output .result {
    background-color: rgb(105, 36, 170);
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* lab2 */

.lab2 {
    display: grid;
    grid-template-areas:
        "description output"
        "addition addition"
    ;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.lab2 .description {
    grid-area: description;
    background-color: rgb(223, 226, 43);
}

.lab2 .description p {
    color: white;
}

.lab2 .description_item1 {
    padding: 10px;
}

.lab2 .description_item2 {
    padding: 10px;
    background-color: rgb(226, 214, 43);
}

.lab2 .description_item2 .file_button {
    background-color: white;
    text-decoration: none;
    padding: 5px;
    color: black;
    border-radius: 5px;
}

.lab2 .output {
    grid-area: output;
    background-color: rgb(202, 199, 38);
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.lab2 .output .about {
    padding: 10px;

}

.lab2 .output .result {
    background-color: rgb(168, 177, 38);
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.lab2 .addition {
    grid-area: addition;
    background-color: rgb(202, 76, 38);
    padding: 10px;
}

.lab2 .addition .item {
    background-color: #ff9100;
    margin-top: 10px;
    padding: 5px 0px;
}

.lab2 .addition .item img {
    width: 60px;
}

.lab2 .addition textarea {
    width: 185px;
    height: 100px;
    font-size: 30px;
    resize: none;
}

/* Lab4 */

.lab4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.lab4 .description {
    background-color: #f39c12;
    padding: 10px;
}

.lab4 .description p {
    color: white;
}

.lab4 .output {
    background-color: #e67e22;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.lab4 .output .about {
    padding: 10px;

}

.lab4 .output .result {
    background-color: #d35400;
    color: white;
}

.lab4 .output .result {
    display: grid;
    grid-template-rows: 9fr 1fr;
}

.lab4 .animate-place {
    position: relative;
}

.lab4 .progress {
    background-color: rgb(202, 202, 202);
    width: 100%;
}

.lab4 .progress .greenBar {
    width: 0%;
    background-color: #4CAF50;
    color: white;
    height: 100%;
    text-align: center;
    
}

.lab4 .animate-place .square {
    background-color: cyan;
    width: 50px;
    height: 50px;
    position: absolute;
}

/* Lab6 */
.lab6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.lab6 .description {
    background-color: #ddf312;
    padding: 10px;
}

.lab6 .description p {
    color: white;
}

.lab6 .output {
    background-color: #cfc41f;
    display: grid;
    color: black;
}

.lab6 .json {
    background-color: #e6e322;
    padding: 10px;
}

.lab6 .result {
    padding: 10px;
}

.lab6 .result span, .lab6 .json span {
    color:white;
}

/* Lab7 */
.lab7 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lab7 .description {
    background-color: #09ff00;
    padding: 10px;
}

.lab7 .description p {
    color: white;
}

.lab7 .output {
    background-color: #01a009;
    color: black;
    padding: 10px;
}

/* Lab8 */
.lab8 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lab8 .description {
    background-color: #008cff;
    padding: 10px;
}

.lab8 .description p {
    color: white;
}

.lab8 .output {
    background-color: #005d92;
    color: black;
    padding: 10px;
}

/* Lab9 */
.lab10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lab10 .description {
    background-color: #8400ff;
    padding: 10px;
}

.lab10 .description p {
    color: white;
}

.lab10 .output {
    background-color: #6b00cf;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}